<label for="trail_name">Name</label>
<input id="trail_name" name="trail[name]" type="text" value="<%= @trail.name %>">
</br>
<label for="trail_description">Description</label>
</br>
<textarea rows="8" cols="60" id="trail_description" name="trail[description]" type="text"><%= @trail.description %></textarea>
</br>
