<label for="location_city">City</label>
<input id="location_city" name="location[city]" type="text" value="<%= @location.city %>">
<label for="location_state">State</label>
<input id="location_state" name="location[state]" type="text" value="<%= @location.state %>">
<br>
